@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Droid+Serif');


body {
	margin: 0;
    font-family: "Helvetica", Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    font-size: 1.1875em;
    font-weight: normal;
    color: #878787;
}

a {color: #0d84e9}

li {
    padding-bottom: 15px;
}

.navbar {
    background-color: #444;
    height: 60px;
    top: 0;
    border-top: solid #eee 50px;
}

.navbar .container-fluid {
    margin: auto;
    width: 100%;
    height: 117px;
    position: relative;
    z-index: 0;
    top: -50px;
}

/*.navbar .container-fluid {
    left: 13%;
}*/

.navbar-header img {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    border-top: none;
}

.navbar-brand {
    float: left;
    padding: 0 15px;
    margin-top: 0;
    width: 276px;
    font-size: 17px;
    line-height: 21px;
    height: 50px;
}

.page-wrap {
    max-width: 1074px;
    margin: 100px auto 50px;
}

.items-wrap {
	position: relative;
	padding-left: 450px;
}

@media screen and (max-width: 992px) {
.items-wrap {
	padding-left: 0px;}}

.items-wrap .panel-panel {
	position: absolute;
    width: 320px;
    left: 0;
    background-color: #c9f1ff;
    padding: 35px;
    margin: 0 50px 0 0;
    font-size: 24px;
    font-weight: 300;
    color: #333;
    line-height: 1.3;
}

@media screen and (max-width: 992px) {
	.items-wrap .panel-panel {
	position: relative;
    width: 320px;
    margin: 0 auto;}}	

 @media screen and (max-width: 480px) {
	.items-wrap .panel-panel {
    width: 255px;}}	

@media screen and (max-width: 992px) {
	.panel-content {
		margin:5%;}}

.panel-content h2 {
    font-family: "Droid Serif", serif;
    font-size: 1.75em;
    color: #222222;
    line-height: 1.2em;
}

p.help-text {
    font-size: 14px;
    color: #666;
}
