@import url(font.css);
body {
  margin: 0;
  font-family: "Helvetica", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  font-size: 1.1875em;
  font-weight: normal;
  color: #666666;
}

a {
  color: #0d84e9
}

li {
  padding-bottom: 20px;
}

header.hero-header {
    background: #c9f1ff;
    color: #444;
    height: 300px;
    margin-top: -25px;
    padding: 0 100px;
    text-align: center;
}
@media screen and (max-width: 768px) {
    header.hero-header {
    padding: 0 35px;
}}

h1.hero-title {
    top: 35%;
    position: relative;
    font-weight: 300;
    line-height: 1.4;
}

@media screen and (max-width: 768px) {
    h1.hero-title {
        top: 30%;
}}

@media screen and (max-width: 480px) {
    h1.hero-title {
        top: 25%;
        font-size: 24px;
}}

.date {
    font-weight: bold;
    font-size: 40px;
}
 @media screen and (max-width: 768px) {
    .date {
    font-size: 30px;
}}

.navbar {
  background-color: #444;
  height: 60px;
  top: 0;
  border-top: solid #eee 50px;
}

.navbar-header {
    max-width: 1074px;
    margin: 0 auto;
}

.navbar .container-fluid {
  margin: auto;
  width: 100%;
  height: 117px;
  position: relative;
  z-index: 0;
  top: -50px;
}

.navbar-header img {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  border-top: none;
}

.navbar-brand {
  float: left;
  padding: 0 15px;
  margin-top: 0;
  width: 276px;
  font-size: 17px;
  line-height: 21px;
  height: 50px;
}

.page-wrap {
    max-width: 1074px;
    margin: 75px auto 125px;
}

.items-wrap {
	position: relative;
	padding-left: 425px;
}

@media screen and (max-width: 992px) {
  .items-wrap {
    padding-left: 0px;
  }
}

.items-wrap .panel-panel {
  position: absolute;
  width: 280px;
  left: 0;
  background-color: #f2f2f2;
  padding: 35px;
  font-size: 24px;
  font-weight: 300;
  color: #333;
  line-height: 1.3;
}

@media screen and (max-width: 992px) {
  .items-wrap .panel-panel {
    position: relative;
    width: 320px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 480px) {
  .items-wrap .panel-panel {
    width: 255px;
  }
}

div#countdown {
  background: linear-gradient(#00c6fb, #005bea);
  color: white;
  padding: 25px 0;
  font-size: 1.65em;
  margin-top: 35px;
}

@media screen and (max-width: 992px) {
  .panel-content {
    margin: 5%;
  }
}

.panel-content h2 {
  font-family: "Droid Serif", serif;
  font-size: 1.75em;
  color: #222222;
  line-height: 1.2em;
}

.countdown-text {
    font-family: "Droid Serif", serif;
}

p.help-text {
  font-size: 14px;
  color: #666;
}